h1 {
    color: #BBDBB8;
    font-size: 45px; 
    font-family: 'Outfit', sans-serif;
}  
h2 {
    color:#FFD1F7;
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
} 
h3 {
    color: #283F5D;
    font-size: 25px;
    font-family: 'Lexend', sans-serif;
}
p {
    color: #283F5D;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
}
li {
    color:#283F5D;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
}